<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="N11 Test Suite" >
    <listeners>
        <listener class-name="com.sqa.automation.util.listeners.TestListener"/>
        <listener class-name="com.sqa.automation.util.listeners.AnnotationTransformer"/>
    </listeners>

    <test name="CaseTest">
        <classes>
            <class name="com.sqa.automation.test.AdherenceTest"/>
        </classes>
    </test>
</suite>